/*elements*/
input {
    width: 100%;
}

/*classes*/
.errorMessages {
    margin: 0;
}

/*ids*/
#submitReg {
    height: 10vh;
    width: 30vh;
    font-size: large;
    position: sticky;
    align-items: center;
    margin: 0 auto;
    display: block;
}

#reg_fo {
    display: flex;
    flex-direction: column;
}

#registrationInner_di {
    padding-bottom: 20px;
}