/*elements*/
body {
    min-height: 100vh;
    margin-left: 8vw;
    margin-right: 8vw;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

button {
    border: 0;
}

/*classes*/
.gameButton {
    width: 20vw;
    height: 10vh;
}

.title {
    text-align: center;
    font-size: 50px;
}

.centered {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*ids*/
#signIn_bt {
    border: 0;
    padding: 2%;
    width: 20vw;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
}

#admin_bt {
    width: 20vw;
    height: 10vh;
}

#buttons_di {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}