ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navButton{
    padding: 2vh 2vh;
}

body{
    margin-left: 8vw;
    margin-right: 8vw;
}

.gameButton{
    border: 0;
    width: 25vw;
    height: 25vh;
}

div{
    padding-bottom: 1vh;
    padding-top: 1vh;
    background-color: rgb(204, 204, 204);
    position: absolute;
    width: 50vw;
    margin-top: -16vh;
    display: flex;
    justify-content: center;
}

#signInButton{
    border: 0;
    padding: 2%;
}