ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navButton{
    padding: 2vh 2vh;
}

body{
    margin-left: 8%;
    margin-right: 8%;
}

.gameButton{
    border: 0;
    width: 25vh;
    height: 25vh;
}

