body {
    margin-left: 8vw;
    margin-right: 8vw;
}

.gameButton {
    margin: 0;
    padding: 0;
    border: 0;
    width: 25vw;
    height: 25vh;
}

#signInButton {
    border: 0;
    padding: 2%;
    width: 20vw;
    position: absolute;
    left:40vw;
    right:40vw;
    top:30vh;
}

button {
    border: 0;
}