/*elements*/
body {
    min-height: 10vh;
    margin: 0;
}

button {
    /*margin: 2px;*/
    border-radius: 5%;
    border: 1px;
    border-style: solid;
}

/*classes*/
.leaderBoardContent {
    font-size: 3vw;
    text-wrap: nowrap;
    padding-right: 5vw;
    border: 1px;
    border-style: dashed;
}

.blured {
    filter: blur(5px);
}

/*ids*/
#innerLeaderBoard_di {
    width: 45vw;
}

#leave_bt {
    margin-bottom: 3vh;
}

#rematch_bt {
    margin-bottom: 3vh;
}

#gameTitle_h2 {
    font-size: 5vw;
}