#leave_bt {
    margin-bottom: 3vh;
}

#rematch_bt {
    margin-bottom: 3vh;
}

body {
    min-height: 10vh;
    margin: 0;
}

button {
    /*margin: 2px;*/
    border-radius: 5%;
    border: 1px;
    border-style: solid;
}