/*elements*/
body {
    background-color: rgb(0, 0, 0);
    overflow: hidden;
}

td{
    color: white;
    font-size: 250%;
}

table{
    width: 100%;
    border-spacing: 5vw;
    border-spacing: 1vh;
}

/*classes*/
.statisticText{
    display: inline-block;
    padding: 1vw 1vw;
    color: white;
    font-size: 2vw;
    width: auto;
    margin-right: 2vw;
}

.popUpButton{
    border-color: white;
    border-style: double;
    border-width: 0.5vw;
    background-color: black;
    align-items: center;
    color: white;

    font-size: 130%;
    width: 70%;
    margin: 1%;
}

/*ids*/
#title{
    font-size: 350%;
    text-align: center;
    color:white;
    margin: 1%;
}

#lowerStatsBar{
    position: fixed;
    left: 5%;
    bottom: 1%;
    display: flex;
}

#screenBackground{
    position: fixed;
    z-index: 1;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

#contentBox_di{
    white-space: nowrap;
    display: flex;
    border-color: white;
    border-style: double;
    border-width: 0.5vw;
    background-color: black;
    align-items: center;
    /*margin: auto;*/
    justify-content: center;
    width: 30%;
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
}

#textElement_p{
    font-size: 150%;
    text-align: center;
    color:white;
    margin: 1%;
}

#leaderBoard{
    white-space: nowrap;
    display: flex;
    border-color: white;
    border-style: double;
    border-width: 0.5vw;
    background-color: black;
    align-items: center;
    /*margin: auto;*/
    justify-content: center;
    width: 70%;
    /*height: 70%;*/
    margin: 1%;
}